In [1]:
# Question 1: Create a list of first 10 square numbers
print("Question 1: Create a list of first 10 square numbers")
squares = [i**2 for i in range(1, 11)]
print(squares)

Question 1: Create a list of first 10 square numbers
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# Question 2: Find the sum of all even numbers
print("\nQuestion 2: Find the sum of all even numbers")
numbers = [1,2,3,4,5,6,7,8,9,10]
even_sum = sum(i for i in numbers if i % 2 == 0)
print(even_sum)

Question 2: Find the sum of all even numbers
30

In [3]:
# Question 3: Remove duplicates
print("\nQuestion 3: Remove duplicates")
list1 = [1,2,2,3,4,4,5,6,6,7]
unique = list(set(list1))
print(unique)

Question 3: Remove duplicates
[1, 2, 3, 4, 5, 6, 7]

In [4]:
# Question 4: Sort in descending order
print("\nQuestion 4: Sort in descending order")
list2 = [64, 34, 25, 12, 22, 11, 90]
list2.sort(reverse=True)
print(list2)

Question 4: Sort in descending order
[90, 64, 34, 25, 22, 12, 11]

In [5]:
# Question 5: Find average
print("\nQuestion 5: Find average")
list3 = [15, 23, 31, 42, 56, 78, 91]
average = sum(list3) / len(list3)
print(average)

Question 5: Find average
48.0